.p-10 {
	padding: 0 10% !important;
}
.mt-5 {
	margin-top: 4%;
}
.mtb-4 {
	margin: 4% 0;
}

.dropdown-menu {
	left: 100px !important;
}
select {
	width: 50%;
	background-color: #FFA620;
}
#score, .elige {
	font-size: 2em;
}
